* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 100px;
  background-color: black;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: flex;
  color: pink;
}

img {
  width: 100%;
}

h2 {
  position: fixed;
  font-size: 1.8rem;
  font-family: monospace;
  width: 50%;
  top: 1em;
  text-align:center;
}

.container {
  flex-basis: 50%;
  max-height: 82vh;
  overflow-y: scroll;
  border: 1px solid gray;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.container.proximity {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

li {
  border-bottom: 1px solid white;
  padding: 3rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  scroll-snap-align: start;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-pack: center;
          justify-content: center;
}

audio{
	padding: 10px 0;
	margin: 0 auto;
	margin: 0 auto; 
width: 100px;
padding: 10px 0;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


@media only screen and (max-width: 600px) {
  body {
    
  }
  
h2 {
  position: fixed;
  font-size: 1.2rem;
  font-family: monospace;
  width: 50%;
  top: 1em;
  text-align:left;
}

}



.MyClass1 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583276066/imgonline-com-ua-resize-nyNQQeAW3Ion8FI_qduonv.jpg");
}

.MyClass123 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583276198/imgonline-com-ua-resize-6nBPsjHYWX_ms5wqb.jpg");
}

.MyClass2 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583276376/adam-birkett-4K5zeUGl1Hk-unsplash_mqor0w.jpg");
}

.MyClass3 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583276886/imgonline-com-ua-resize-ERLPLt3ciDCeiUtU_ugnizb.jpg");
}

.MyClass4 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583276783/imgonline-com-ua-resize-I7aoWir19LFZ_boo4vs.jpg");
}

.MyClass5 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583277287/imgonline-com-ua-resize-quNLluP7oieh7B_wymo0t.jpg");
}

.MyClass6 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583277876/imgonline-com-ua-resize-iet5EYyFSTSSGMUu_zbcst8.jpg");
}

.MyClass7 {
  content: url("https://res.cloudinary.com/dw4yle7tl/image/upload/v1583278013/pandu-ior-ZO6PQJ_Kljo-unsplash_caetnb.jpg");
}

